body{
	background-color: LightCyan; 
}

.ImageGallery {
	width: 100%;
	height: max-content;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-around;
	margin: 10px;
}

.ImageGallery img{
	margin: 0px, 15px;
}

.worklinks {
	width: 30%;
	float: left;
}

/*.guide {
	float: right;
}
*/

h1 {
	color:#ee3e80;
	font-family: "Arial", Serif;
	font-size: 45pt;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 0px;
}

.nav{
	width: 100%;
	height: max-content;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-around;
}

.nav a{
    padding-left: 50px;
    font-family: "Arial", Serif;
}

.Container img{
	/*width: 25%;
	height: max-content;*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-around;
}

/*.pageContent {
	width: 100%;
	height: max-content;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: left;
	align-content: space-around;
	align-content: center;
}
*/
.profile, .guide, .worklinks {
	width: 275px;
	float: left;
	height: max-content;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: left;
	align-content: space-around;
	align-content: center;
}

.information {
	float: right;
	width: 500px;

}

/*.right{
	width: 50%;
	font-family: Arial, Verdana, sans-serif;
	display: inline;
	margin: 50px;
}
*/
h2 {
	width: 100%;
	text-align: left;
	color:#ee3e80;
	font-family: "Arial", Verdana, Serif;
	font-size: 14pt;
}

h1, h2, h3{
	color:#ee3e80;}

p {
	font-family: "Arial", Verdana, sans-serif;
	color:#665544;}

li{
	font-family: "Arial", Verdana, sans-serif;
	text-align: left;
}

ul{
	list-style-type: none;
	border: 1px solid black;
	padding:10px;
	margin: 5px;
}

